body {
    background-color: #84A4D9;
  }
  .textEditor, .textRenderer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    
    background-color: #9FD5F0;
  }
  .textEditor > *, .textRenderer > * {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }
  #textEditorHeader, #textRendererHeader {
    border: none; /*reset above border styling*/
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
    width: 100%;
  }
  #editor {
    width: 80vw;
    height: 50vh;
  }
  #preview{
    background-color: white;
    border-radius: 10px;
  }
  
  /*Table styling*/
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 0.5em;
  }
  
  img {
    max-width: 80vw;
  }