body {
  text-align: center;
}
header{
  font-size: 2em;
}
#drum-machine {
  width: 500px;
  height: 500px;
  border: 1px solid #5D6B70;
  margin: calc(100vh / 2 - 250px) auto auto auto;
  padding: 1em;

  background-color: #C9E7F2;
}
#display {
  width: 200px;
  margin: auto;
  background-color: lightblue;
}
#drum-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.drum-pad {
  background-color: #3B6170;
  border: 1px solid #5D6B70;
  margin: 2px;
  width: 8rem;
  height: 8rem;
  font-size: 1.5em;
  color: #C9E7F2;
}
.drum-pad:active {
  background-color: #80D1F0;
  color: #3B6170;
}
